.message
  %p.message--create-group
    グループを作成しました

.account
  .account__account-name
    account-name
  #ul.account__edit-list
    #li.account__edit-item
      = link_to "#", class: "account__edit-link" do
        = fa_icon 'edit'
    #li.account__edit-item
      = link_to "#", class: "account__edit-link" do
        = fa_icon 'cog'

.group-list
  #ul.group-list__group-list
    - 5.times do |i|
      #li.group-list__group-item
        #p.group-list__group-name
          group-name#{i}
        #p.group-list__new-message
          new-message#{i}

